# ==========================================
# Production / Fichiers générés & Staging
# ==========================================
dist/
dist_tmp/
style.min.css

# ==========================================
# Fichiers parasites des OS (Mac, Windows, Linux)
# ==========================================
.DS_Store
Thumbs.db
.directory

# ==========================================
# Éditeurs et outils de dev
# ==========================================
.vscode/
.idea/
*.swp
*~
