# ==========================================
# Production / Fichiers générés
# ==========================================
# dist/

# ==========================================
# Fichiers parasites des OS (Mac, Windows, Linux)
# ==========================================
.DS_Store
Thumbs.db
.directory

# ==========================================
# Éditeurs et outils de dev
# ==========================================
.vscode/
.idea/
*.swp
*~
